{
	"browsertest/{setup,runTests}.js": ["prettier --single-quote --use-tabs --write", "git add"],
	"{cypress/integration,src,test}/**/*.js": ["prettier --single-quote --use-tabs --write", "git add"]
}
